


<launch>
  <node name="trailer_state_estimator" pkg="husky_project" type="kinematic_model_odom.py" />
  <node name="footprint_adjuster" pkg="husky_project" type="footprint_adjuster.py" />
  <node name="robot_delivery" pkg="husky_project" type="inventory.py" output="screen" />

  <include file="$(find husky_project)/husky/husky_viz/launch/view_robot_with_trailer.launch" />
  

  <!-- Run the map server -->
  <arg name="map_file" default="$(find husky_project)/maps/bills_lab_cropped.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find husky_navigation)/launch/amcl.launch" />
  <!-- <include file="$(find amcl)/examples/amcl_diff.launch" /> -->

  <include file="$(find husky_project)/launch/move_base_custom.launch">
  </include>

</launch>
